{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "modules": "commonjs"
        }
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-decorators-legacy",
        [
          "module-resolver",
          { "root": ["./"] }
        ],
        "react-intl",
        ["import" , [{ "libraryName": "antd" }]]

      ]
    },
    "production": {
      "plugins": [
        "transform-decorators-legacy",
        [
          "module-resolver",
          { "root": ["./"] }
        ],

        ["react-intl", {
          "messagesDir": "lang/.messages/"
        }],
        ["import" , [{ "libraryName": "antd" }]]

      ]
    },
    "ignore": ["node_modules/antd"]
  }
}