{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "modules": "commonjs"
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      { "root": ["./"] }
    ],
    ["import", {
      "libraryName": "antd",
      "libraryDirectory": "lib",
      "style": false
    }],
    "transform-decorators-legacy"
  ],
  "env": {
    "development": {
      "plugins": [

        "react-intl"
      ]
    },
    "production": {
      "plugins": [
        ["react-intl", {
          "messagesDir": "lang/.messages/"
        }]
      ]
    },
    "ignore": ["node_modules/antd"]
  }
}